<header class="main-header">
    <nav class="main-header-nav">
        <ul class="item-list">
            <li class="item"><a href="/" class="active">shop</a></li>
            <li class="item"><a href="/admin/add-product">add product</a></li>
        </ul>
    </nav>
</header>