<%- include ('includes/head.ejs') %>
    </head>

    <body>
        <%- include ('includes/navigation.ejs') %>

            <main>
                <% if(prods.length > 0){ %>
                <div class="grid">
                    <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card-header">
                            <h1 class="product-title"><%= product.title %></h1>
                        </header>
                        <div class="card-image">
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS4jfQQt_0vCA4XSwGiWkffC32Tv2oajdWhaYHHVYylYGJ3v17Q" alt="">
                        </div>
                        <div class="card-content">
                            <h2 class="card-price">20.00</h2>
                            <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Nisi,
                                distinctio!</p>
                        </div>
                        <div class="card-actions">
                            <button class="btn">add to cart</button>
                        </div>
                    </article>
                    <% } %>
                </div>
                <% } else { %>
                    <h1>no products found</h1>
                <% } %>    
            </main>
            <%- include ('includes/end.ejs') %>